html {
    font-size: 16px;
   box-sizing: border-box;
}
*,
*::before,
*::after {
   box-sizing: inherit;
}
* {
   margin: 0;
   padding: 0;
   font-family: $font-family;
}
h1,
h2,
h3,
h4 {
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
   color: #000;
}
img {
   object-fit: cover;
   width: 100%;
   display: block;
}
h1 {
   display: block;
   font-size: $font-size-m;
   padding: 1.5rem 1rem;
   @include breakpoint-up(large) {
      padding: 2rem 10rem;
      font-size: $font-size-l;
   }
}
// Visibility
.hide-for-mobile {
   @include breakpoint-down(small) {
      display: none !important;
   }
}
.hide-for-desktop {
   @include breakpoint-up(medium) {
      display: none !important;
   }
}
