$font-family:  'Roboto', sans-serif;
$text-color: #222;
// 60px,24px,20px,16px, 12px
$font-size-l: 3rem;
$font-size-m: 1rem;
$font-size-s: .8rem;


$color-primary: #6dcff6;
$color-secondary: #779fa1;
$color-warning: #e28413;
$color-danger: #ff6542;